_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server.v12.suo
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/OnlineTabletop.Server.csproj.user
_Trunk/Server/OnlineTabletop.Server/packages