master/Server/OnlineTabletop.Server/OnlineTabletop.Server.v12.suo
master/Server/OnlineTabletop.Server/OnlineTabletop.Server/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Server/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Server/OnlineTabletop.Server.csproj.user
master/Server/OnlineTabletop.Server/packages
master/Server/OnlineTabletop.Server/OnlineTabletop.Models/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Models/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.DTOs/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.DTOs/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Util/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Util/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Mechanics/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Mechanics/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Persistence/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Persistence/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Mappers/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.Mappers/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Accounts/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.Accounts/obj
master/Server/OnlineTabletop.Server/OnlineTabletop.SelfHost/bin
master/Server/OnlineTabletop.Server/OnlineTabletop.SelfHost/obj