_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server.v12.suo
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Server/OnlineTabletop.Server.csproj.user
_Trunk/Server/OnlineTabletop.Server/packages
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Models/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Models/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.DTOs/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.DTOs/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Util/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Util/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Mechanics/obj
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Mechanics/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Persistence/bin
_Trunk/Server/OnlineTabletop.Server/OnlineTabletop.Persistence/obj